@import '../../../../styles/colors/colors.module.scss';

.pageBody{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.favoritesCard{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}