@import '../../../../styles/colors/colors.module.scss';


.overlayModal {
    cursor: default;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}

///////Modal Common///////
.btnHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 20%;
    padding: 10px 10px;
    border-left: 4px solid $tertiaryDark;
    border-bottom: 1px solid transparent;
    transition: 0.5s linear;

    .icon {
        filter: invert(100%);
    }

    &:hover {
        transition: 0.5s linear;
        border-left: 4px solid $tertiary;
        border-bottom: 1px solid $tertiary;
    }
}

.modal {
    position: fixed;
    transition: 0.2s;
    width: 0px;
    height: 100%;
    top: 0%;
    left: 0%;
}

.modalOpen {
    z-index: 10;
    position: fixed;
    transition: 0.2s;
    width: 350px;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: $primary;
    color: $secondary;
    border-right: 2px solid $tertiaryDark;
    border-top-right-radius: 30px;
    box-shadow: 8px 6px 4px #0000007c;

    /* CONTEÚDO DO MODAL */
    display: flex;
    flex-direction: column;
    padding: 10px 24px;

    .btnModal {
        align-self: flex-end;
        color: $secondary;
        font-weight: bold;
        height: 60px;
        width: 60px;
        font-size: 20px;
        transition: 0.2s;

        &:hover {
            color: $tertiary;
            transform: scale(1.02);
        }
    }

}

.categoryTittle {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.btnSub {
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(-135deg);

    &:hover {
        color: $tertiary;
    }
}

.btnSubActive {
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(45deg);
    color: $tertiary;

    &:hover {
        color: $secondary;
    }
}

.subCategoryList {
    display: none;
}

.subCategoryOpen {
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.subCategory:hover,
.categoryTittle:hover {
    color: $tertiary;
    transform: scale(1.015);
    transition: 0.1s;
}


///////ModalUser///////
.modalUser {
    position: fixed;
    transition: 0.5s;

}

.modalUserOpen {
    z-index: 10;
    position: fixed;
    margin-top: 40px;
    transform: translate(-10%, -0%);
    transition: 0.2s;
    width: auto;
    background-color: $primary;
    color: $secondary;
    box-shadow: 4px 4px 4px #0000007c, -4px 4px 4px #0000007c;
    /* CONTEÚDO DO MODAL */
    display: flex;
    flex-direction: column;
    padding: 15px 24px;
    gap: 5px;
    border-bottom: 2px solid $tertiaryDark;
}

///////ModalAddress///////
.modalAddress {
    width: 1000px;
    position: fixed;
    transition: 0.5s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalAddressOpen {
    position: fixed;
    z-index: 10;
    min-width: 1050px;
    min-height: 725px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    background-color: rgb($primaryLight, 0.98);
    color: $secondary;
    box-shadow: 4px 4px 4px #0000007c, -4px 4px 4px #0000007c;
    /* CONTEÚDO DO MODAL */
    display: flex;
    flex-direction: column;
    padding: 15px 24px;
    gap: 5px;
    border-bottom: 2px solid $tertiaryDark;

    .divButtons{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}