@import '../../../../../styles/colors/colors.module.scss';

.pageBody{
    display: flex;
    flex-direction: column;
    height: 100%;
    .titleContainer{
        display: flex;
        flex-direction: column;
        a{
            color: $secondaryDark;
            font-size: small;
        }
        .userPurchaseTitle{
            font-size: 25px;
            margin: 10px 0px 10px 0px;
            border-left: 3px solid $tertiaryDark;
            padding: 2px 5px;
            background-color: $primary;
            max-width: fit-content;
        }
    }

    .userPurchasesContainer{
        width: 100%;
        height: 90%;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
        .divStatus{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .status{
                width: 115px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgb($primary,0.8);
                font-size: small;
                border: 3px solid $secondary;
                padding: 5px;
                border-radius: 10px;
                img{
                    filter: invert(90%);
                }
            }
            .statusActive{
                @extend .status;
                border: 3px solid rgb(22, 172, 34);
            }
            .line{
                width: 14%;
                height: 3px;
                background-color: $secondary;
            }
            .lineActive{
                @extend .line;
                background-color: rgb(22, 172, 34);
            }

        }

        .divAddress{
            display: flex;
            padding: 20px;
            
            .divAddressInfo{
                display: flex;
                flex-direction: column;
                font-size: smaller;
                width: 25%;
                .title{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }
        .divInfo{
            display: flex;
            margin-top: 30px;
            .divItems{
                display: flex;
                flex-direction: column;
                background-color: rgb($primary,0.8);
                padding: 20px;
                gap: 10px;
                width: 50%;

                .titleItems{
                    font-size: 22px;
                    margin-bottom: 10px;
                }

                .item{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 5px 0px 5px 0px;
                    border-bottom: 1px solid $secondaryDark;
                }
            }
        }
    }
}