@import '../../../styles/colors/colors.module.scss';


.btn {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    border-radius: 2px;
    height: fit-content;
    gap: 5px;
}

.btnTexts {
    .title {
        font-size: 28px;
    }

    .subTitle {
        padding-bottom: 8px;
        font-size: 12px;
    }
}

.icon {
    filter: invert(100%);
}


.model1 {
    border: 1px solid $tertiary;
    background-color: $tertiaryDark;

    &:hover {
        background-color: $tertiary;
    }
}

.model2 {
    border: 2px solid rgb(32, 141, 41);
    background-color: rgb(2, 100, 10);

    &:hover {
        background-color: rgb(32, 141, 41);
    }
}

.model3 {
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
        background-color: $tertiary;
        border: 1px solid $tertiary;
    }
}

.model4 {
    background-color: $tertiaryDark;
    border: 1px solid $primary;
    font-size: 13px;

    &:hover {
        border-color: $tertiaryDark;
        border: 1px solid $secondaryDark;
    }
}

.model5 {
    gap: 20px;
    border: 2px solid rgb(2, 100, 10);
    background-color: rgb(32, 141, 41);
    border-radius: 5px;
    padding: 0px 15px;
}

@media(max-width: 1050px) {
    .model5 {
        gap: 5px;

        .btnTexts{
            white-space: nowrap;
            .title{
                font-size: 18px;
            }
        }
    }
}

.model6 {
    padding: 0px;
    background-color: transparent;
    border: none;
    
    .btnTextsArrow{
        &:hover{
            .title{color: $tertiary;}
            .arrowDown{color: $tertiary;}
        }
    }

    &:hover {
        color: $tertiary;
        transform: scale(1.05);
        transition: 0.1s;
        
    }

}



.model7{
    padding: 0px;
}

.model8{
    border: 2px solid transparent;
    border-radius: 0px;
    padding: 3px;
    transition: 0.1s;

    &:hover{
        
        border-top: 2px solid $tertiary;
        border-bottom: 2px solid $tertiary;
        transform: scale(1.02);
        color: $tertiary;
        transition: 0.1s;
        .text{
            color: $tertiaryLight;
        }
    }

}

.btnTextsArrow{
    display: flex;
    flex-wrap: nowrap;
    .arrowUp{
        margin-left: 15px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: 0.5s;
        transform: rotate(45deg);
        color: $tertiary;
        &:hover {
            color: $secondary;
        }
    }
    .arrowDown{
        margin-left: 15px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: 0.5s;
        transform: rotate(-135deg);

    }
}

.model9 {
    padding: 10px 15px;
    background-color: $primaryDark;
    border-left: 1px solid $tertiaryDark;
    border-right: 1px solid $tertiaryDark;
    border-radius: 6px;
    gap: 15px;
    .btnTextsArrow{
        &:hover{
            .title{color: $tertiary;}
            .arrowDown{color: $tertiary;}
        }
    }

    &:hover {
        color: $tertiary;
        transform: scale(1.015);
        transition: 0.1s;
        
    }
}