@import '../../../../styles/colors/colors.module.scss';

.divUser{
    display: flex;
    align-items: center;
    background-color: $primaryDark;
    border-left: 1px solid $tertiaryDark;
    border-right: 1px solid $tertiaryDark;
    border-radius: 6px;
    margin-top: 5px;
    padding: 0px 5px 0px 3px;
    cursor: pointer;

    .username{
        display: flex;
        justify-content: center;
        gap: 3px;
        align-items: center;
        width: auto;
        height: 40px;
        margin-right: 10px;

        .userIcon{
            filter: invert(90%);
            height: 22px;
        }
        
    }
    .iconSeta{
        transform: rotate(-139deg);
        padding-bottom: 8px;
        transition: 0.5s;
    }
    .iconSetaOpen{
        transform: rotate(45deg);
        transition: 0.5s;
        color: $tertiaryLight;
    }
}
.overlayModal {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
}

.modal{
        position: absolute;
        transition: 0.3s;
        height: 0px;
        right: 16%;
        top: 14%;
}
.modalOpen{
    position: absolute;
    transition: 0.3s;
    width: 220px;
    height: 300px;
    right: 11%;
    top: 13%;
    background-color: $primaryLight;
    border-right: 1.5px solid $tertiary;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 15px solid $primaryLight;
    
        top: -15px;
        right: 5%;
    }
}