@import '../../../../styles/colors/colors.module.scss';

.model1 {
        position: fixed;
        top: 12.5%;
        left: 5%;
        color: $secondaryDark;
        font-size: small;
        width: fit-content;
        height: fit-content;
}

.model2 {
        color: $secondaryDark;
        font-size: small;
        width: fit-content;
        height: fit-content;
}

@media(max-height: 870px) {
        .model1 {
                top: 15%;
        }
}
@media(max-height: 722px) {
        .model1 {
                top: 17%;
        }
}
@media(max-height: 615px) {
        .model1 {
                top: 21%;
        }
}
@media(max-height: 545px) {
        .model1 {
                top: 23%;
        }
}