@import '../../../../styles/colors/colors.module.scss';

.model1 {
        position: fixed;
        top: 12.5%;
        left: 5%;
        color: $secondaryDark;
        font-size: small;
        width: fit-content;
        height: fit-content;
}

.model2 {
        color: $secondaryDark;
        font-size: small;
        width: fit-content;
        height: fit-content;
}