@import '../../../../styles/colors/colors.module.scss';

.userName {
    font-size: 45px;
    color: $tertiaryDark;
}

.userEmail {
    padding-left: 10px;
}

.userPurchaseTitle{
    font-size: 20px;
    margin: 40px 0px 10px 0px;
    border-left: 3px solid $tertiaryDark;
    padding: 2px 4px;
    background-color: $primary;
    max-width: fit-content;
}
.userPurchase{
    margin-top: 15px;
    display: flex;
    
    padding: 15px 20px;
    border: 2px solid $secondaryDark;
    border-radius: 8px;

    .userPurchaseImg{
        display: flex;
        flex-wrap: wrap;
        min-width: 150px;
        max-width: 150px;
        background-color: $primary;
        margin-right: 40px;

        img{
            width: 75px;
            height: 75px;
            border-radius: 5px;
        }

    }
    .userPurchaseInfoContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        
        .userPurchaseInfoDiv{
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: large;
            
            .userPurchaseInfo{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                
                .userPurchaseInfoTitle{
                    font-weight: bold;
                }
        
                .userPurchaseInfoValue{
                }
            }
            .userPurchaseInfoStatus{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                .userPurchaseInfoTitle{
                    font-weight: bold;
                }
        
                .userPurchaseInfoValue{
                    color: rgb(22, 172, 34);
                    border-bottom: 1px solid rgb(22, 172, 34);
                }
            }
        }
    
        .btnsUserPurchase{
            display: flex;
            align-items: center;
            gap: 15px;
            
            button{
                font-size: 17px;
                padding: 5px 15px;
                border-radius: 5px;
                border: 1px solid $tertiaryDark;
                background-color: $tertiaryDark;
    
                &:hover{
                    background-color: $tertiary;
                }
            }
        }
    }

}