@import '../../../styles/colors/colors.module.scss';

.avaliation{
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
    .avaliationTitleP {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-bottom: 1px solid $secondaryDark;
        height: 50px;
    }
    .sectionAvaliationUser{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $secondaryDark;
        padding: 10px;
        
        .formAvaliations{
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 45%;
            padding: 15px 20px;
            .inputTitle{
                height: 40px;
                border-radius: 5px;
                font-size: 20px;
                padding: 5px;
                background-color: $primary;
        
                &:focus{
                    outline: 1px solid $tertiary;
                }
            }
        
            .inputComment{
                height: 130px;
                padding: 5px;
                border-radius: 5px;
                font-size: 18px;
                background-color: $primary;
        
                &:focus{
                    outline: 1px solid $tertiary;
                }
            }
        }
    
        .avaliationUser{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 45%;
            padding: 15px 30px;
            background-color: rgb($primary, 0.5);
            
            .avaliationStars{
                align-self: flex-end;
                margin: 10px 0px;
            }
    
            .avaliationTitle{
                height: 40px;
                font-size: 20px;
                padding: 5px;
                border-bottom: 1px solid $secondaryDark;
                
            }
    
            .avaliationComment{
                height: 130px;
                padding: 5px;
                font-size: 18px;
            }
        }
    }

    .sectionAllAvaliations{
        @extend .sectionAvaliationUser;
        justify-content: center;
        gap: 15px;
        
    }
}