@import '../../../../../styles/colors/colors.module.scss';

.cardItem{
    display: flex;
    width: auto;
    justify-content: space-between;
    margin: 3px 0px 3px 0px;
    padding: 5px 5px 15px 5px;
    color: $secondaryLight;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;



    .cardContent{
        display: flex;
        gap: 10px;
        width: 50%;
        .cardBanner{
            border-radius: 5px;
    
        }
    }
    .name{
        margin: 15px 0px 0px 5px;
        font-size: large;
    }

    .priceContainer{
        width: 20%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .price{
            font-family:Verdana, Geneva, Tahoma, sans-serif  ;
            font-size: 28px;
            margin: 0px 0px 0px 5px;
            color: rgb(26, 214, 42);
        }
        .pricePromotion{
            font-family:Verdana, Geneva, Tahoma, sans-serif  ;
            font-size: 16px;
            text-decoration: line-through;
            margin: 15px 0px 0px 5px;
            color: rgb(255, 0, 0);
        }
    }

    &:hover{
        background-color: $primary;

    }

}