@import '../../../styles/colors/colors.module.scss';

.cep {
    background-color: $primaryLight;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5px;
    padding: 10px;

    .divInput {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
    }

    .cepResult {
        background-color: $primaryLight;
        padding: 10px;
        border-top: 1px solid $secondaryDark;
        font-size: 14px;
        display: flex;
        flex-direction: column;

    }
}