@import '../../../../../styles/colors/colors.module.scss';

.pageBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary;
    min-height: 100%;
    gap: 20px;
    width: 100%;
    padding: 20px;
    .addressAndPayment{
        display: flex;
        width: 90%;
        gap: 25px;
        flex-wrap: wrap;
        justify-content: center;

        .divAddressAndFrete{
            display: flex;
            flex-direction: column;
            gap: 10px;
            .divAddress{
                border: 1px solid $tertiaryDark;
                padding: 10px;
                border-radius: 5px;
    
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
    
            .divFrete{
                width: 100%;
                border: 1px solid $tertiaryDark;
                border-radius: 5px;
                padding: 10px;
                display: flex;
                flex-direction: column;
            }
        }


        .divPayment{
            display: flex;
            flex: 1;
            flex-direction: column;
            gap: 10px;
            min-width: 369.5px;
        }
    }
}

@media(max-width:525px) {
    .pageBody{
        .addressAndPayment{
            .divPayment{
                min-width: auto;
            }
        }
    }
}