@import '../../../styles/colors/colors.module.scss';

.promotion{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 500px;


    .promotionLink{
        display: flex;
        flex: 1;
        transition: 3s linear;
        opacity: 0.8;
        

        .promotionBanner{
            width: 100%;
            height: 100%;
        }
        &:hover{
            transition: 3s linear;
            flex: 8;
            opacity: 1;
        }
    }

}

@media(max-width: 1024px) {
    .promotion{
        height: 350px;
    }
}

@media(max-width: 550px) {
    .promotion{
        height: 250px;
    }
}