@import '../../../styles/colors/colors.module.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 60% ;
    .categoryList{
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        .category{
            display: flex;
            align-items: center;
            
            
            .checkbox{
                margin-right: 5px;
                height: 12px;
            }
            .label{
                font-size: 15px;
            }
        }
    }
}