@import '../../../styles/colors/colors.module.scss';


.pageBody{
    min-height:100vh ;
    width: 90%;
    display: flex;
    justify-content: center;
    .pageContainer{
        width: 90%;
        background-color: $primaryLight;
        display: flex;
        .divOptions{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: rgb($primary,0.8);
            gap: 10px;
            width: 25%;
            border-right: 1px solid $secondaryDark;
            padding: 50px 10px 0px 10px;

            .option{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 60px;
                padding: 10px;
                background-color: $primary;
                width: 100%;
                font-size: 20px;
                border: 2px solid $secondaryDark;
                border-radius: 5px;

                &:hover{
                    border-color: $tertiaryDark;
                }
            }
            
        }
        .divInfo{
            padding: 10px;
            display: flex;
            flex: 1;
            flex-direction: column;
        }
    }
}


@media(max-width:1250px){
    .pageBody{

        .pageContainer{

            .divOptions{

                .option{
                    font-size: 17px;
                    height: auto;
                }
            }
        }
    }
}

@media(max-width:1000px){
    .pageBody{
        width: 100%;
        .pageContainer{
            flex-direction: column;
            width: 99%;
            .divOptions{
                padding: 20px;
                width: 100%;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;

                .option{
                    width: auto;
                    font-size: 13px;
                }
            }
        }
    }
}