@import '../../../styles/colors/colors.module.scss';

.cardItem{
    background-color: rgb($secondaryDark,0.1);
    min-height: 375px;
    width: 220px;
    display: flex;
    padding: 5px 0px;
    flex-direction: column;
    justify-content: space-between;
    color: $secondaryLight;
    transition: 0.1s;
    border-bottom: 1px solid $tertiaryDark;
    border-top: 1px solid $tertiaryDark;

    .cardBanner{
        width: 100%;
        height: auto;

    }
    .name{
        padding: 10px;
        font-size: large;
        word-wrap: break-word;
    }

    &:hover{
        transform: scale(1.01);
        border-bottom: 1px solid $tertiary;
        border-top: 1px solid $tertiary;
        background-color: $primary;
    }
}

.cardItemModelH{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    height: 180px;
    width: 95%;
    padding: 5px;
    border-bottom: 1px solid $tertiaryDark;
    border-top: 1px solid $tertiaryDark;
    background-color: $primary;
        
    .bannerAndName{
        display: flex;
        flex: 1;
        gap: 10px;
        height: 100%;

        .cardBanner{
            width: auto;
            height: 100%;
    
        }
        .name{
            padding: 10px;
            font-size: x-large;
            word-wrap: break-word;
        }
    }

    &:hover{
        border-bottom: 1px solid $tertiary;
        border-top: 1px solid $tertiary;
        background-color: rgb($secondaryDark,0.1);
    }
}