@import '../../../../styles/colors/colors.module.scss';

.pageItem{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;

    .itemContainer{
        height: 100%;
        background-color: $primaryLight;
        display: flex;
        flex-direction: column;
    }
}