@import '../../../../styles/colors/colors.module.scss';




@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


.pageItem {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .itemContainer {
        height: 100%;
        width: 100%;
        background-color: $primaryLight;
        display: flex;
        flex-direction: column;

        .titleItem {
            margin: 30px 0px 10px 80px;
            font-size: 36px;
            font-family: 'Courier New', Courier, monospace;
        }

        .cardItem {
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: $primary;
            border-bottom: 1px solid $primaryLight;

            padding: 5px 10px;

            .itemBuy {
                width: 40%;
                display: flex;
                justify-content: space-between;
                padding: 10px;
                flex-direction: column;

                .itemStockT {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                    border-color: $primaryLight;
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(26, 214, 42);
                }

                .itemStockF {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 50px;
                    border-top: 1px solid;
                    border-bottom: 1px solid;
                    border-color: $primaryLight;
                    font-size: 18px;
                    font-weight: bold;
                    color: rgb(255, 0, 0);
                }

                .itemInfo {
                    display: flex;

                    .sectionPayInfo{
                        width: 50%;
                    }
                    
                    .sectionBuy {
                        width: 50%;
                        
                        form {
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            margin: 20px;
                            align-self: flex-end;

                            .btnBuy {

                                .addItem{
                                    display: none;
                                    position: absolute;
                                    z-index: 10;
                                    top: 6.2%;
                                    right: 11%;
                                    color: greenyellow;
                                    font-weight: bold;
                                    transform: rotate(0deg);
                                }

                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: center;
                                align-items: center;
                                gap: 15px;
                                border: 2px solid rgb(2, 100, 10);
                                background-color: rgb(32, 141, 41);
                                border-radius: 5px;
                                padding: 0px 15px;
                                font-size: 28px;

                                .icon {
                                    filter: invert(100%);
                                }

                                .btnTexts {
                                    .subTitle {
                                        padding-bottom: 8px;
                                        font-size: 12px;
                                    }
                                }

                                &:active{
                                    .addItem{
                                        display: block;
                                        animation: girar 0.2s ease-in-out infinite;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .sectionSecond {
            align-self: center;
            display: flex;
            width: 90%;
            justify-content: space-between;
            margin-top: 50px;

            .recomendedItems {
                width: 70%;
                padding: 0px 20px;

                .recomendedItemsTitle {
                    font-size: 20px;
                    margin: 10px 0px;
                    border-left: 3px solid $tertiaryDark;
                    padding: 2px 4px;
                    background-color: $primary;
                    max-width: fit-content;
                }
            }
        }

        .itemDescription {
            margin: 70px 0px;
            width: 90%;
            align-self: center;
        }

        .avaliations{
            width: 90%;
            align-self: center;
            margin-bottom: 50px
        }

    }
}