@import '../../styles/colors/colors.module.scss';

.btnHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    background-color: $secondary;
    font-size: 45px;
    border-radius: 20%;
    height: 50px;
    width: 50px;
}

.modal {
    position: absolute;
    width: 300px;
    height: 100%;
    top: 1%;
    left: 10%;
    background-color: $primary;
    color: $secondary;
    outline: none;
    border-radius: 5px;
    box-shadow: 8px 6px 4px #0000007c;

    /* CONTEÚDO DO MODAL */
    display: flex;
    flex-direction: column;
    padding: 10px 24px;

    .btnModal {
        align-self: flex-end;
        color: $secondary;
        font-weight: bold;
        font-size: 20px;
    }
}

.modalLink {
    color: white;
    margin: 5px 0px;
    font-weight: bold;
    cursor: pointer;
}

.overlayModal {
    background-color: transparent;
}


.categoryTittle {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
}
///Botão
.btnSub{
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(-135deg);
}

.btnSubActive{
    margin-left: 15px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(45deg);
}

///SubCategoty
.subCategoryList {
    display: none;
}

.subCategoryOpen {
    display: block;
    margin-left: 15px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.subCategory:hover, .categoryTittle:hover{
    transform: scale(1.015);
    transition: 0.1s;
}

