@import '../../../../styles/colors/colors.module.scss';

.catalogOrderContainer {
    height: auto;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .catalogOrder{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
        
        .selectOrder {
            padding: 8px;
            background-color: $primary;
        }
    }
}

