@import '../../../../styles/colors/colors.module.scss';

.catalogOrderContainer {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .catalogOrder{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
        
        .selectOrder {
            padding: 8px;
            background-color: $primary;

        }
    }
}