@import '../../../../styles/colors/colors.module.scss';

.catalogOrderContainer {
    height: 80px;
    display: flex;
    align-items: center;
    .catalogOrder{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
        
        .selectOrder {
            padding: 8px;
            background-color: $primary;
        }
    }
}

@media(max-width: 735px) {
    .catalogOrderContainer{
        display: none;
    }
}