@import '../../styles/colors/colors.module.scss';

.home{
    background-image: url('../../../public/public/home/bg-home.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 40px;
    width: 100%;

    .homeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .promotion{
            display: flex;
            justify-content: center;
            width: 90%;
            height: 65%;
            padding: 20px 0px 0px 12px;
            margin-bottom: 50px;
    
            .promotionLink{
                width: 100%;
    
                .promotionBanner{
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                }
            }
        }

        .slide{
            align-items: center;
            width: 85%;
            height: auto;
            padding: 0px 0px 0px 12px;
            margin-bottom: 35px;

            .slideTitle{
                font-size: 25px;
                margin-bottom: 10px;
                padding-left: 10px;
                border-left: 2px solid $tertiaryDark;
            }
        }

        .categoriesCards{
            width: 90%;
            height: 200px;
            display: flex;
            padding-left: 12px;
            gap: 15px;
            justify-content: center;
            
            .categoryCard1{
                height: 100%;
                width: 50%;
                background-image: url('../../../public/public/home/categoryCard1.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: 10px;
            }
            .categoryCard2{
                height: 100%;
                width: 50%;
                background-image: url('../../../public/public/home/categoryCard1.svg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
                border-radius: 10px;
            }
        }
    }
}

