@import '../../styles/colors/colors.module.scss';

@keyframes girar-borda {
    0% { border-color: transparent; }
    25% { border-left-color: #ff000085; }
    50% { border-top-color: #ff000085; }
    75% { border-right-color: #ff000085; }
    80% { border-bottom-color: #ff000085; }
    100% { border-color: transparent;}
}


.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-bottom: 40px;
    width: 100%;

    .homeContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .categoriesCards{
            width: 100%;
            display: flex;
            margin-top: 50px;
            gap: 15px;
            justify-content: center;
        }
    }
}


@media(max-width:1023px) {

    .homeContainer{
        min-width: 100%;
    }
}
@media(max-width:768px) {

    .homeContainer{
        min-width: 100%;

    }
}
@media(max-width:560px) {
    .homeContainer{
        min-width: 100%;
    }
    .categoriesCards{
        flex-direction: column;
        align-items: center;
    }
}