@import '../../../../styles/colors/colors.module.scss';

.categoryBtn{
    display: flex;
    align-items: center;
    gap: 15px;
    .categoryTittle {
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        transition: 0.5s;
    }
    
    ///Botão SubCategoty
    .btnSub{
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: 0.5s;
        transform: rotate(-135deg);
        &:hover {
            color: $tertiary;
        }
    }
    .btnSubActive{
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        transition: 0.5s;
        transform: rotate(45deg);
        color: $tertiary;
        &:hover {
            color: $secondary;
        }
    }
}

///SubCategoty
.subCategoryList {
    margin-left: 0px;
    margin-bottom: 5px;
    transition: 0.2s;
}
.subCategoryOpen {
    margin-left: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}
.categoryTittle:hover{
    color: $tertiary;
    transform: scale(1.015);
    transition: 0.1s;
}
