@import '../../styles/colors/colors.module.scss';

.header{
    width: 100%;
    display: flex;
    justify-content: center;
    
    flex-wrap: nowrap;
    background-color: $primary;

}
.headerContainer{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;

    border-radius: 10px;
}

.headerLeft{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
    padding: 15px 0px;

    .logoHeader{
        width: 300px;
        height:100px;
        background-color: white;
        border-radius: 40px;
    }
}

.headerCenter{
    width: 50%;
    height: 50px;
    display: flex;
    flex-wrap: nowrap;
    align-self: flex-end;
    margin-bottom: 18px;
    border: none;
    background-color: $primaryLight;
    border-radius: 5px;
    padding: 5px;
    .inputSearch{
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        color: $secondaryLight;
        outline: none;
        padding-left: 10px;
    }
    .btnSearch{
        width: 40px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 10px;
        border-radius: 8px;
        background-color: transparent;
        cursor: pointer;
        .searchIcon{
            filter: invert(100%);
            &:hover{
                filter: invert(80%);
            }
        }
    }

    &:hover{
        border-color: $tertiary;
    }
}

.headerRight{
    display: flex;
    
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 30px;
    .linkHeader{
        display: flex;
        color: $secondaryLight;
        font-size: 16px;
        cursor: pointer;
        transition: 0.2s;

        .chatIcon{
            filter: invert(100%);
            padding: 0px 0px 10px 5px;
        }

        &:hover {
            transform: scale(1.02);
            color: $tertiary;
            padding-left: 3px;
            border-left: 2px solid $tertiary;

            .chatIcon{
                filter: invert(70%);
            }
        }
    }

    .division{
        color: $secondaryLight;
        font-weight: bold;
    }
}