@import '../../../../../styles/colors/colors.module.scss';


.pageBody{
    display: flex;
    flex-direction: column;

    .titleContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .userPurchasesContainer{
        width: 100%;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
        .divStatus{
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            .status{
                width: 115px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: rgb($primary,0.8);
                font-size: small;
                border: 3px solid $secondary;
                padding: 5px;
                border-radius: 10px;
                img{
                    filter: invert(90%);
                }
            }
            .statusActive{
                @extend .status;
                border: 3px solid rgb(22, 172, 34);
            }
            .line{
                width: 14%;
                height: 3px;
                background-color: $secondary;
            }
            .lineActive{
                @extend .line;
                background-color: rgb(22, 172, 34);
            }

        }

        .divAddress{
            display: flex;
            justify-content: center;
            padding: 20px;
            gap: 15px;
            flex-wrap: wrap;
            .divAddressInfo{
                display: flex;
                flex-direction: column;
                font-size: smaller;
                min-width: 25%;
                min-width:254px ;
                border-left: 1px solid $secondary;
                border-radius: 10px;
                padding: 10px;
                .title{
                    font-size: 16px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}

@media(max-width: 475px){
    .pageBody{
        .userPurchasesContainer{
            .divStatus{
                .status{
                    width: 100px;
                    font-size: x-small;
                    border: 1px solid $secondary;
                }
                .statusActive{
                    border-color:rgb(22, 172, 34) ;
                }
            }
        }
    }
}