@import '../../../../styles/colors/colors.module.scss';



.tableItems {
    flex: 1;
    min-height: 500px;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    background-color: $primary;

    .tableHeader {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid $tertiaryDark;
    }

    .tableBody {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        .tableRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid $tertiaryDark;

            .bannerAndName {
                display: flex;
                flex: 2;
                gap: 10px;

                .cardBanner {
                    width: 100px;
                    height: 100px;
                }

            }
            .quantity{
                display: flex;
                align-items: center;
                flex: 1;
                gap: 10px;
            }
            .price{
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                gap: 10px;
            }
        }
    }
}

@media(max-width:600px){
    .tableItems {
        .tableHeader {
            display: none;
        }
        .tableBody {
            .tableRow {
                flex-wrap: wrap;

                .bannerAndName {
                    .cardBanner {
                        height: 50px;
                        width: 50px;
                    }
    
                }
            }
        }
    }
}

@media(max-width:500px){
    .tableItems {
        .tableBody {
            .tableRow {
                .bannerAndName {
                    width: 100%;
                    flex: none;
                }
            }
        }
    }
}