@import '../../../../styles/colors/colors.module.scss';

.input{
    padding: 5px;
    font-size: 17px;
    background-color: $primaryLight;

    &:focus{
        outline: 1px solid $tertiary;
        background-color: $secondary;
        color: $primaryDark;
    }
}