@import '../../../../styles/colors/colors.module.scss';

.subCategoryList {
    margin-left: 0px;
    margin-bottom: 5px;
    transition: 0.2s;
}
.subCategoryOpen {
    margin-left: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}