$primary:#292929;
$primaryDark:#1d1d1d;
$primaryLight:#3c3c3c;
$secondary:#d3d3d3;
$secondaryDark:#a6a6a6;
$secondaryLight:#ffffff;
$tertiary:#B71C1C;
$tertiaryDark:#911717;
$tertiaryLight:#ee2525;


// rgb(179, 10, 10) #E53935 #B71C1C 

// $primary:#292929;
// $primaryDark:#1d1d1d;
// $primaryLight:#3c3c3c;