@import '../../styles/colors/colors.module.scss';

.footer{
    padding: 30px;
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 8;
    background-color: $primary;
    gap: 50px;

    .footerInfo{
        display: flex;
        flex-direction: column;
        gap: 5px;
        max-width: 350px;
    }
}
