@import '../../../../../styles/colors/colors.module.scss';



.tableItems {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    background-color: $primary;

    .tableHeader {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid $tertiaryDark;

        .tableTitle {
            font-size: 20px;
            font-weight: bold;
        }
        .tableTitle1{
            @extend .tableTitle;
            width: 38%;
        }
        .tableTitle2{
            @extend .tableTitle;
            width: 35%;
            text-align: center;
        }
        .tableTitle3{
            @extend .tableTitle;
            flex: 1;
        }
    }

    .tableBody {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 10px;

        .tableRow {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
            border-bottom: 1px solid $tertiaryDark;

            .bannerAndName {
                width: 50%;
                display: flex;
                gap: 10px;

                .cardBanner {
                    width: 100px;
                    height: 100px;
                }

            }
            .quantity{
                display: flex;
                align-items: center;
                flex: 1;
                gap: 10px;
            }
            .priceAndPromotion {
                display: flex;
                flex-direction: column;
                flex: 1;
                .price {
                    font-size: 20px;
                }
                .pricePromotion {
                    font-size: 15px;
                    text-decoration: line-through;
                    color: $tertiaryDark;
                }
            }
        }
    }
}