@import '../../../styles/colors/colors.module.scss';

.pagCount{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
    padding: 5px;
    font-size: 19px;

    .btnCount{
        width: 45px;
        height: 35px;
        border-radius: 2px;
        background-color: $primary;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btnActive{
        background-color: $tertiaryDark;
        width: 45px;
        height: 35px;
        border-radius: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}