@import '../../../../styles/colors/colors.module.scss';

.cartBody {

    .cartInfo{
        display: flex;
        width: 100%;
        gap: 25px;
        flex-wrap: nowrap;

        .cartTotal {
            display: flex;
            flex-direction: column;
            background-color: $primary;
            padding: 20px;
            width: 30%;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px;
    
            .resumo {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
    
                .resumoItems {
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: nowrap;
                    border-bottom: 1px solid $secondaryDark;
                }
                .resumoItemsTotal {
                    @extend .resumoItems;
                    margin-bottom: 80px;
                }
            }
        }
    }
    .cartFrete{
        width: 30%;
    }
}