@import '../../../styles/colors/colors.module.scss';

.tagsFilter{
    height: 100%;
    overflow-y: auto;
    scrollbar-color: $primaryLight $primary;
    scrollbar-width: thin;

    .titleContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        .btnFilter{
            padding: 0px 6px;
            height: 35px;
            background-color: $tertiaryDark;
            border: 1px solid $primary;
            border-radius: 3px;
            font-size: 13px;

            &:hover{
                border-color: $tertiaryDark;
                border: 1px solid $secondaryDark;

            }
        }
    }

    .divTag{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px 5px;
        margin-bottom: 10px;
        border-top: 1px solid $primary;

        .tagTitle{
            font-size: 18px;
            
        }

        .tagValues{
            .tags{
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                gap: 5px;
                max-height: 300px;
                padding-left: 15px;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: $primaryLight $primary;
                
                input{
                    outline: 2px solid $primary;
                }
                label{
                    font-size: 16px;
                    cursor: pointer;
                }
            }
        }
    }
}