@import '../../../styles/colors/colors.module.scss';

.register{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryDark; ;

    .registerContainer{
        width: 45%;
        height: auto;
        margin: 20px 0px;
        padding: 30px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primaryLight;
        border-radius: 5px;

        .registerIcon{
            filter: invert(100%);
        }

        .registerTittle{
            font-size: 22px;
            color: $secondaryLight;
            border-bottom: 2px solid $tertiary;
            margin-bottom: 50px;
        }

        .registerForm{
            padding: 15px 10px;
            background-color: $primary;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .inputDiv{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: 5px;
            }
        
            .buttonregister{
                width: 90%;
                height: 50px;
                background-color: $tertiaryDark;
                border: 2px solid $tertiary;
                color: $secondaryLight;
                font-weight: bold;
                font-size: 22px;
                margin-top: 30px;

                &:hover{
                    background-color: $tertiary;
                    border: 2px solid $tertiaryDark;
                }

            }
        }

        .divLogin{
            display: flex;
            width: 50%;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .tittle{
                margin-top: 20px;
                font-size: 17px;
                color: $secondaryLight;
            }
            .link{
                font-size: 16px;
                border-bottom: 2px solid $tertiaryLight;
                cursor: pointer;
                color: $tertiaryLight;


                &:hover{
                    transition: 0.5s;
                    color: $tertiary;
                    border-bottom: 2px solid $tertiary;
                    border-radius: 5px;
                }
            }
        }

    }
}
.verifyP{
    color: $tertiary;
    font-size: 14px;
}


@media(max-width:1250px){
    .register{

        .registerContainer{
            width: 85%;
        }
    }
}

@media(max-width:650px){
    .register{

        .registerContainer{
            width: 98%;
            .registerForm{
                .inputDiv{
                    flex-wrap: wrap;
                }
            }
        }
    }
}