@import '../../../styles/colors/colors.module.scss';

.register{
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d ;

    .registerContainer{
        width: 50%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $primaryLight;
        border-radius: 5px;

        .registerTittle{
            font-size: 27px;
            font-weight: bold;
            color: $secondaryLight;
            border-bottom: 2px solid $tertiary;
            
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .registerForm{
            width: 100%;
            height: 100%;
            padding: 15px 0px 15px 0px;
            background-color: $primary;
            display: flex;
            gap: 20px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .inputDiv{
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 5px;
            }
            .input{
                width: 90%;
                height: 45px;
                padding: 5px;
                font-size: 20px;
                background-color: $primaryLight;

                &:focus{
                    outline: 1px solid $tertiary;
                    background-color: $secondary;
                    color: $primaryDark;
                }
            }
            .label{
                width: 90%;
                color: $secondaryLight;
                font-size: 22px;
                align-self:auto;
            }

            .buttonregister{
                width: 90%;
                height: 50px;
                background-color: $tertiary;
                border: 2px solid $tertiaryDark;
                color: $secondaryLight;
                font-weight: bold;
                font-size: 22px;
                margin-top: 40px;

                &:hover{
                    background-color: $tertiaryDark;
                    border: 2px solid $tertiary;
                }

            }
        }

    }
}